[submodule "plugins/pairwise"]
	path = plugins/pairwise
	url = git@gitlab.com:noosfero-plugins/pairwise.git
[submodule "plugins/proposals_discussion"]
	path = plugins/proposals_discussion
	url = git@gitlab.com:noosfero-plugins/proposals_discussion.git
[submodule "plugins/site_tour"]
	path = plugins/site_tour
	url = git@gitlab.com:noosfero-plugins/site_tour.git
[submodule "plugins/gamification"]
	path = plugins/gamification
	url = git@gitlab.com:noosfero-plugins/gamification.git
[submodule "plugins/comment_paragraph"]
	path = plugins/comment_paragraph
	url = git@gitlab.com:noosfero-plugins/comment-paragraph.git
[submodule "plugins/notification"]
	path = plugins/notification
	url = git@gitlab.com:noosfero-plugins/notification.git
[submodule "plugins/email_article"]
	path = plugins/email_article
	url = git@gitlab.com:noosfero-plugins/email_article.git
[submodule "public/designs/themes/participa-theme"]
	path = public/designs/themes/participa-theme
	url = https://gitlab.com/participa/participa-theme.git
[submodule "public/proposal-app"]
	path = public/proposal-app
	url = https://gitlab.com/participa/proposal-app.git
