[submodule "public/designs/themes/participa-web"]
	path = public/designs/themes/participa-web
	url = https://gitlab.com/participa/participa2-theme.git
[submodule "plugins/pairwise"]
	path = plugins/pairwise
	url = https://gitlab.com/noosfero-plugins/pairwise.git
[submodule "plugins/proposals_discussion"]
	path = plugins/proposals_discussion
	url = https://gitlab.com/noosfero-plugins/proposals_discussion.git
[submodule "plugins/site_tour"]
	path = plugins/site_tour
	url = https://gitlab.com/noosfero-plugins/site_tour.git
[submodule "plugins/gamification"]
	path = plugins/gamification
	url = https://gitlab.com/noosfero-plugins/gamification.git
[submodule "plugins/comment_paragraph"]
	path = plugins/comment_paragraph
	url = https://gitlab.com/noosfero-plugins/comment-paragraph.git
[submodule "plugins/notification"]
	path = plugins/notification
	url = https://gitlab.com/noosfero-plugins/notification.git
[submodule "plugins/email_article"]
	path = plugins/email_article
	url = https://gitlab.com/noosfero-plugins/email_article.git
[submodule "public/designs/themes/participa-theme"]
	path = public/designs/themes/participa-theme
	url = https://gitlab.com/participa/participa-theme.git
[submodule "public/proposal-app"]
	path = public/proposal-app
	url = https://gitlab.com/participa/proposal-app.git
[submodule "plugins/gravatar-provider"]
	path = plugins/gravatar-provider
	url = https://gitlab.com/noosfero-plugins/gravatar-provider.git
[submodule "plugins/juventude"]
	path = plugins/juventude
	url = https://gitlab.com/noosfero-plugins/juventude.git
