[submodule "public/designs/themes/serpro"]
	path = public/designs/themes/serpro
	url = http://gitlab.serpro/voce-serpro/serpro-theme.git
[submodule "public/designs/themes/consulta"]
	path = public/designs/themes/consulta
	url = http://gitlab.serpro/voce-serpro/palavra-aberta-theme.git
[submodule "public/designs/themes/gradebasica"]
	path = public/designs/themes/gradebasica
	url = http://gitlab.serpro/leandro.santos/tema-grade-basica.git
[submodule "public/designs/themes/participa-web"]
	path = public/designs/themes/participa-web
	url = https://gitlab.com/participa/participa2-theme.git
