<div class="dspace_item_section">
  <div class="dspace_item_section_title">
   <%= item_section[:title] %>
  </div>
  <div class="dspace_item_section_content">
    <%= item_section[:content] %>
  </div>
</div>
