--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/6.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"890ce780d1a33e8e4dfd9e742c6f54f7\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">3</choices-count>
          <created-at type="datetime">2014-03-19T18:38:15Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">6</id>
          <inactive-choices-count type="integer">1</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-20T15:19:04Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">7</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">3</item-count>
        </question>

  recorded_at: Thu, 20 Mar 2014 15:20:18 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/6/choices.xml?inactive_ignore_flagged=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"404952a7933bc1080179d9b9ba1f2e18\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">false</active>
            <created-at type="datetime">2014-03-19T18:38:15Z</created-at>
            <data>Choice 2</data>
            <id type="integer">38</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
            <creator-identifier>1</creator-identifier>
          </choice>
        </choices>

  recorded_at: Thu, 20 Mar 2014 15:20:19 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/6/choices/38.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"484f2a633216bd272aeb60e35c4dd7e4\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">false</active>
          <created-at type="datetime">2014-03-19T18:38:15Z</created-at>
          <creator-id type="integer">4</creator-id>
          <data>Choice 2</data>
          <id type="integer">38</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier nil="true"></local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">6</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-20T15:19:04Z</updated-at>
          <version type="integer">4</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Thu, 20 Mar 2014 15:20:19 GMT
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/6/choices/38/flag.xml?explanation=reproved&visitor_identifier=1
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 201
      message: "Created "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
         [...]
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/6/choices.xml?inactive_ignore_flagged=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"4f31ca96db448bb738a3923db737871d\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <nil-classes type="array"/>

  recorded_at: Thu, 20 Mar 2014 15:20:19 GMT
