--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <name>Q1</name>
          <local-identifier>1</local-identifier>
          <visitor-identifier>1</visitor-identifier>
          <ideas>Choice 1
        Choice 2</ideas>
        </question>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"59680dc7fa311f91dd47e51a799904d8\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">false</active>
          <choices-count type="integer">0</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:23Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">1</version>
          <votes-count type="integer">0</votes-count>
        </question>

  recorded_at: Tue, 18 Mar 2014 13:53:23 GMT
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <prompts-count type="integer">0</prompts-count>
          <updated-at type="datetime">2014-03-18T13:53:23Z</updated-at>
          <active type="boolean">true</active>
          <votes-count type="integer">0</votes-count>
          <version type="integer">1</version>
          <it-sho[...]
