--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <visitor-identifier>1</visitor-identifier>
          <name><%= question_name %></name>
          <local-identifier>1</local-identifier>
          <ideas><%= choices %></ideas>
        </question>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"78556b001eadd8e658d5219148956316\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">false</active>
          <choices-count type="integer">0</choices-count>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer"><%= id_question %></id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name><%= question_name %></name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:26Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">1</version>
          <votes-count type="integer">0</votes-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:26 GMT
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/<%=id_question%>.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <prompts-count type="integer">0</prompts-count>
          <version type="integer">1</version>
          <site-id type="integer">1</site-id>
          <uses-catchup type="boolean">true</uses-catchup>
          <it-should-au[...]
