--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <prompts-count type="integer">0</prompts-count>
          <updated-at type="datetime">2014-03-18T13:53:23Z</updated-at>
          <active type="boolean">true</active>
          <votes-count type="integer">0</votes-count>
          <version type="integer">1</version>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <information nil="true"></information>
          <id type="integer">3</id>
          <uses-catchup type="boolean">true</uses-catchup>
          <creator-id type="integer">4</creator-id>
          <tracking nil="true"></tracking>
          <choices-count type="integer">0</choices-count>
          <site-id type="integer">1</site-id>
          <name>Q1</name>
          <show-results type="boolean">true</show-results>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <local-identifier>1</local-identifier>
          <visitor-identifier>1</visitor-identifier>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <ideas>Choice 1
        Choice 2</ideas>
        </question>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: " "
  recorded_at: Tue, 18 Mar 2014 13:53:23 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"a4aedcf5bbd98d62bb423366ffd4b670\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">2</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:23Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">3</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">2</item-count>
        </question>

  recorded_at: Tue, 18 Mar 2014 13:53:23 GMT
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <data>New inactive choice</data>
          <local-identifier>1</local-identifier>
          <visitor-identifier>1</visitor-identifier>
        </choice>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 201
      message: "Created "
    headers: 
      Location: 
      - http://localhost:3030/questions/3/choices/13
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">false</active>
          <created-at type="datetime">2014-03-18T13:53:24Z</created-at>
          <creator-id type="integer">4</creator-id>
          <data>New inactive choice</data>
          <id type="integer">13</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier>1</local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">3</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:24Z</updated-at>
          <version type="integer">1</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Tue, 18 Mar 2014 13:53:24 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml?include_inactive=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"d84f7f32e1b78fb781400017b6c29802\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice 1</data>
            <id type="integer">11</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice 2</data>
            <id type="integer">12</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">false</active>
            <created-at type="datetime">2014-03-18T13:53:24Z</created-at>
            <data>New inactive choice</data>
            <id type="integer">13</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 18 Mar 2014 13:53:24 GMT
[...]
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices/13.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"323b6fd72f7ceb8579523f15601a8fd8\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">false</active[...]
[...]
