--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"3d3cc6bfd093918ac1b1b8c8e465efa7\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice 1</data>
            <id type="integer">11</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice 2</data>
            <id type="integer">12</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:24Z</created-at>
            <data>New inactive choice</data>
            <id type="integer">13</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 18 Mar 2014 13:53:26 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices/11.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"05b426e3208a00fc0be6d435b75cc361\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">true</active>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <data>Choice 1</data>
          <id type="integer">11</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier nil="true"></local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">3</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:23Z</updated-at>
          <version type="integer">1</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Tue, 18 Mar 2014 13:53:26 GMT
