--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml?creator_id=1&visitor_identifier=guest&with_appearance=true&with_prompt=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"317ba026722fb4381c030bcc1fa7f953\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">3</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:25Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">5</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">3</item-count>
          <appearance_id>7fb7e9aefb38b3ead7e75c87cbbc2e46</appearance_id>
          <picked_prompt_id>11</picked_prompt_id>
        </question>

  recorded_at: Tue, 18 Mar 2014 13:53:26 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/prompts/11.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"a3c909043cb826bc0f39faabc7471bcd\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <prompt>
          <created-at type="datetime">2014-03-18T13:53:26Z</created-at>
          <id type="integer">11</id>
          <left-choice-id type="integer">13</left-choice-id>
          <question-id type="integer">3</question-id>
          <right-choice-id type="integer">11</right-choice-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:26Z</updated-at>
          <votes-count type="integer">0</votes-count>
          <left-choice-text>New inactive choice</left-choice-text>
          <right-choice-text>Choice 1</right-choice-text>
        </prompt>

  recorded_at: Tue, 18 Mar 2014 13:53:26 GMT
[...]
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/prompts/11/vote.xml?next_prompt%5Bvisitor_identifier%5D=guest-tester&next_prompt%5Bwith_appearance%5D=true&next_prompt%5Bwith_visitor_stats%5D=true&question_id=3&vote%5Bappearance_lookup%5D=&vote%5Bdirection%5D=left&vote%5Bvisitor_identifier%5D=guest-tester
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <prompt>
          <updated-at type="datetime">201[...]
