--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"02fabf29f70655795720421eaeb60eff\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">4</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">2</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:30Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">6</version>
          <votes-count type="integer">1</votes-count>
          <item-count type="integer">4</item-count>
        </question>

  recorded_at: Tue, 18 Mar 2014 14:03:30 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"eeca0792e33b8baef6a91a806cbe6a37\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:24Z</created-at>
            <data>New inactive choice Changes</data>
            <id type="integer">13</id>
            <losses type="integer">0</losses>
            <score type="float">66.6666666666667</score>
            <wins type="integer">1</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice 2</data>
            <id type="integer">12</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T14:00:51Z</created-at>
            <data>New Choice</data>
            <id type="integer">16</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">true</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
            <data>Choice Renamed</data>
            <id type="integer">11</id>
            <losses type="integer">1</losses>
            <score type="float">33.3333333333333</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 18 Mar 2014 14:03:30 GMT
[...]
