--- 
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Etag: 
      - "\"39313ba95b65cb4e2d34f30b0a5bd2f8\""
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">9</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">2</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:30Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">6</version>
          <votes-count type="integer">1</votes-count>
          <item-count type="integer">9</item-count>
        </question>

  recorded_at: Wed, 19 Mar 2014 18:46:05 GMT
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <local-identifier>1</local-identifier>
          <data>New Choice</data>
          <visitor-identifier>John Travolta</visitor-identifier>
        </choice>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 201
      message: "Created "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Location: 
      - http://localhost:3030/questions/3/choices/40
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">true</active>
          <created-at type="datetime">2014-03-19T18:46:05Z</created-at>
          <creator-id type="integer">5</creator-id>
          <data>New Choice</data>
          <id type="integer">40</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier>1</local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">3</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-19T18:46:05Z</updated-at>
          <version type="integer">1</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Wed, 19 Mar 2014 18:46:05 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/visitors.xml?ideas_count=1&page=1&question_id=3
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Etag: 
      - "\"5252e9c48a1957fab7084271c0aed768\""
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <visitors type="array">
          <visitor>
            <activated type="boolean" nil="true"></activated>
            <created-at type="datetime">2014-03-18T13:48:45Z</created-at>
            <id type="integer">5</id>
            <ideas-count type="">7</ideas-count>
            <identifier>John Travolta</identifier>
            <site-id type="integer">1</site-id>
            <tracking nil="true"></tracking>
            <updated-at type="datetime">2014-03-18T13:48:45Z</updated-at>
            <user-id type="integer" nil="true"></user-id>
          </visitor>
        </visitors>

  recorded_at: Wed, 19 Mar 2014 18:46:06 GMT
recorded_with: VCR 2.8.0
