<% extend CommunityHubPlugin::HubHelper %>

<div class="embed">
  <span class="label">Embed / <%= _("Embed") %></span>
  <textarea cols="38" 
          id="comment_body" 
          name="comment[body]" 
          rows="10"
          class="code" 
          style="width: 99%;"><%= embed_code(@page) %></textarea>
</div>