<div class="settings">
	<ul class="settings">
		<li class="general">
			<%= link_to _("General settings") + '<span class="collapse">&#9658;</span>', :controller => 'cms', :action => 'edit', :id => @page.id %>
		</li>
	</ul>
</div>