<div class="oauth-login">
  <% providers.each do |provider| %>
    <span class="provider">
      <%= link_to _('Login with %s' % provider.name), "/plugin/oauth_client/#{provider.strategy}?id=#{provider.id}", :class => provider.strategy %>
    </span>
  <% end %>

  <span class="provider">
    <% unless Rails.env.production? %>
      <%= link_to _('Developer Login'), "/plugin/oauth/developer", :class => 'developer' %>
    <% end %>
  </span>
</div>
