<h1><%= _('Notification settings')%></h1>

<ul>
<% NotificationPlugin::CategoryNotification.all.map do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>

  <% button_bar do %>
    <%= button :back, _('Back to admin panel'), :controller => 'admin_panel', :action => 'index' %>
  <% end %>

