<li class="item">
  <div style="vertical-align: top;">
    <div class="icon-item <%= item.class_for_item_mimetype(item.mimetype) %>"></div>
    <div style="display: inline-block; width: 92%;">
      <span class="name"><%= link_to item.name, :controller => 'dspace_plugin', :action => 'view_item', :id => item.id, :collection_id => @page.id %></span><br />
      <span class="authors"><%= item.author %></span> <span class="date_issued">(<%= item.issue_date %>)</span>
    </div>
  </div>
</li>
