<% collection_id = dspace_collection.dspace_collection_id %>
<% dspace_server = dspace_collection.parent.dspace_server_url %>

<div id="dspace_library">
  <div id="dspace_collection">
    <ul id="items_list">
      <%= render :partial => 'item', :collection => dspace_collection.items(dspace_server, collection_id) %>
    </ul>
  </div>
</div>
