<% community_id = dspace_community.dspace_community_id %>
<% dspace_server = dspace_community.parent.server_url %>

<div id="dspace_library">
  <div id="dspace_community">
    <ul id="collection_list">
      <%= render :partial => 'collection', :collection => dspace_community.collections(dspace_server, community_id) %>
    </ul>
  </div>
</div>
