<div id="dspace_library">

  <% if true %>

  <div id="actions">
    <%= content_tag('a', :href => url_for({:controller => 'cms', :action => 'new', :type => "DspacePlugin::Communityy", :parent_id => dspace_library.id}), :class => 'button with-text icon-add') do %>
          <%= _("Add %s") % DspacePlugin::Communityy.short_description %>
    <% end %>
  </div>

  <% end %>

  <% communities = dspace_library.communities %>

  <ul id="sortable" class="communities_list">
    <%= render :partial => 'community_item', :collection => communities %>
  </ul>

</div>
