<div id="jenkins">
<h3>
  <%= _('Jenkins Integration') %>
</h3>
<ul class='jenkins'>
  <li>
    <%= labelled_text_field(_('Project Name:'), 'profile_data[serpro_integration_plugin_jenkins][project_name]', profile.jenkins_project_name ) %>
  </li>
</ul>
</div>
