<div>
  <% value = server_list_item[:dspace_uri] if server_list_item %>
  <%= text_field_tag 'settings[dspace_servers][][dspace_uri]', value, { :class => 'link-name', :maxlength => 60, :size=> 58 } %>
  <%= button_without_text(:delete, _('Delete'), "#" , :class=>"delete-server-list-row") %>
  <BR><BR>  
</div>
 
