<li>
  <ul class="link-list-row">
    <li>
      <%= text_field_tag 'settings[dspace_servers][][dspace_uri]', dspace_uri[:dspace_uri], :class => 'link-name', :maxlength => 40 %>
    </li>
    <li>
      <%= button_without_text(:delete, _('Delete'), "#" , :class=>"delete-server-list-row") %>
    </li>
  </ul>
</li>
