.block-types-group {
  display: none;
}

.block-types-group.active {
  display: block;
}

#block-types-navigation a#next {
  float: right;
}

/*tirando a borda do colorbox se puder configurar para não ter me avise*/
r,
#cboxTopLeft,
#cboxTopRight,
#cboxMiddleLeft,
#cboxContent,
#cboxMiddleRight,
#cboxBottomCenter,
#cboxBottomLeft,
#cboxBottomRight
 {	background-image: none; }

/*background do colorbox*/
#cboxLoadedContent {
  background-color: #f5f5f5;
  border-radius: 20px;
}

#block-types .block-type {
  min-height: 0;
	border: 0px solid #AAA;
	margin: 0px;
	padding: 0px;
  text-align: center;
  height: auto;
  float: none;
  display: inline-block;
  overflow: auto;
  width: 112px;
  cursor: move;
  vertical-align: top;
}


#block-types .button-bar {
  margin: 0;
	display: inline;
	position: absolute;
	right: 5%;
	border: 0px solid #AAA;
	margin: 0px;
	padding: 0px;
}


#block-info-container {
  width: 770px;
  padding: 15px;
	color: #444;
}

#block-info-container #block-info-icon {
  float: left;
  padding-right: 10px;
}

#block-info-container #block-info-header {
  display: inline-block;
  float: left;
}

#block-info-container #block-info-header h1 {
  display: inline-block;
  margin: 0;
	font-weight: normal;
	font-family: "Arial Black", Liberation Sans, Arial, sans-serif;
}

#block-info-container h2 {
  margin: 0;
  margin-top: 10px;
	font-weight: normal;
	font-family: "Arial Black", Liberation Sans, Arial, sans-serif;
}

#block-info-container p {
  margin: 0;
}

#block-info-images {
  clear: both;
  overflow-x: auto;
  padding-top: 15px;
}

#block-info-description {
  margin-top: 20px;
}
