<%
def self.list_videos(configure={})
    configure[:recursive] ||= false
    configure[:list_type] ||= :folder
    if !configure[:contents].blank?
      configure[:contents] = configure[:contents].paginate(
        :order => "updated_at DESC",
        :per_page => 16,
        :page => params[:npage]
      )
      render :file => 'shared/video_list', :locals => configure
    else
      content_tag('em', _('(empty folder)'))
    end
  end
%>
<% unless video_gallery.body.blank? %>
  <div>
    <%= video_gallery.body %>
  </div>
  <hr/>
<% end %>

<% if video_gallery.children.empty? %>
  <em><%= _('(empty video gallery)') %></em>
<% else %>
  <%= list_videos(:contents=>video_gallery.children) %>
<% end %>