<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag 'swagger-ui' %>
    <%= javascript_include_tag 'swagger-ui' %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
